@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #1A1A1A;
  color: #00E331;
  font-family: 'Nanum Gothic Coding', monospace;
}

.grayBackground {
 background-color: rgba(71, 71, 71);
}

.bugOut {
  color:#00E331;
  font-family: 'Orbitron', sans-serif;
}

.buttons{
  background-color: rgb(26,26, 26);
}

